.paginator {
  margin: 10px
}

.pageNumber {
  padding: 2px;
  margin: 5px;
  border: 1px solid grey;
  display: inline-block;
}

.selectedPage {
  font-weight: bold;
  border-color: black;
  cursor: default
}

.noSelectedPage {
  cursor: pointer
}